<!-- This is used to show the details of one task. -->
<link rel="stylesheet" href="taskapi/app/assets/stylesheets/application.css">

<h2 class="other-headings">Task</h2>
<h3>Title: <%=@task.title %></h3>
<h3>Completed: <%= @task.completed %></h3>

<ul style="display: flex; gap: 10px; list-style-type: none; padding-left: 3px; padding-bottom: 20px;">
  <li><%= link_to "Edit", edit_task_path %></li>
  <li><%= link_to "Delete", task_path, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <li><%= link_to "New", new_task_path %></li>
</ul>

<!-- Here all the _subtasks.html.erb is rendered -->
<h2 class="other-headings">Subtasks</h2>

<div class="grid-container">
<%=render @task.subtasks %>
</div>


<h2 class="other-headings">Create subtask</h2>   
<%= render "subtasks/form"  %>
